
<body style="overflow: hidden;">
<div class="row">
    <div class="col-md-4" style="margin-left:15px;">
        <h1>Bem - vindo ao seu painel de gerenciamento!</h1> <br>
        <h6>Aqui você gerencia melhor o seu negócio e fica sempre de olho no progresso do 
            seu estabelecimento!</h6>
    </div>
    <div class="col" style="justify-content: right; display:flex; margin-bottom: 10px;">
        <div>
            <div class="hovereffect">
                <img class="img-responsive" src="../../assets/img/garcom.jpg" id="img" alt="">
                <div class="overlay">
                    <h2>Funcionários</h2>
                    <a class="info" routerLink="/funcionario">Cadastre novos funcionários</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col" style="justify-content: left; display:flex; margin-bottom: 10px;">
        <div>
            <div class="hovereffect">
                <img class="img-responsive" src="../../assets/img/cardapio.jpg" id="img" alt="">
                <div class="overlay">
                    <h2>Cardápio</h2>
                    <a class="info" href="#">Cadastre novos itens</a>
                </div>
            </div>
        </div>
    </div>
    <div class="w-100"></div>
    <div class="col-md-4" style="margin-left:15px;">
    </div>
    <div class="col" style="justify-content: right; display:flex;">
        <div>
            <div class="hovereffect">
                <img class="img-responsive" src="../../assets/img/feedback.jpg" id="img" alt="">
                <div class="overlay">
                    <h2>Avaliações</h2>
                    <a class="info" href="#">Veja o que seus clientes estão pensando</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col" style="justify-content: left; display:flex;">
        <div>
            <div class="hovereffect">
                <img class="img-responsive" src="../../assets/img/relatorios.jpg" id="img" alt="">
                <div class="overlay">
                    <h2>Relatórios</h2>
                    <a class="info" href="#">Seus relatórios</a>
                </div>
            </div>
        </div>
    </div>
  </div>
</body>
