<body style="overflow: hidden;">
    <div class="row">
        <div class="col-md-4" style="margin-left:15px;">
            <h1>Mas afinal, quem somos?</h1> <br><br>
            <h6>O projeto partiu surgiu entre um grupo de universitários do curso de
                Ciência da Computação durante o ultimo ano no desenvolvimento
                do Trabalho de Conclusão de Curso.
            </h6>
            <h6>O objetivo era, principalmente, ajudar grupos de amigos a terem uma 
                melhor experiência durante o happy hour, porém, o aplicativo Partiu
                acabou solucionando vários outros problemas.
            </h6>
            <h6>Comandas em papel, falta de feedback para atendimentos e ambientes,
                baixo controle de funcionários e de cardápios, dificuldade de 
                inovações, etc.
            </h6>
            <h6>Partiu veio para ficar e facilitar a vida de todos.
            </h6>
        </div>
    </div>
</body>
    