<body>
    <div>
        <div style="display: block; width: 400px; display: flex;">
        <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType">
        </canvas>
        </div>
        <div style="display: block; width: 400px; height: 400px;">
                <canvas baseChart
                        [datasets]="barChartData2"
                        [labels]="barChartLabels2"
                        [options]="barChartOptions2"
                        [legend]="barChartLegend2"
                        [chartType]="barChartType2">
                </canvas>
                </div>
    </div>
</body>