<body style="overflow: hidden;">
    <div class="row">
        <div class="col-md-4" style="margin-left:15px;">
            <h1>Bem - vindo ao painel de gerenciamento do app Partiu!</h1> <br>
            <h6>Aqui você gerencia melhor o seu negócio e fica sempre de olho no progresso do 
                seu estabelecimento!</h6>
            <h6>Pelo app seus funcionários conseguem mais agilidade e assertividade na 
                organização da comandas e monitoramento de pagamentos.
            </h6>
            <h6>E seus clientes ganham maior facilidade de divisão da conta, acompanhamento
                do seu consumo e auto-gerenciamento.
            </h6>
            <h6>Agora, pelo seu novo painel, te damos todas as informações necessárias para
                gerenciar seu negócio e monitorar seu crescimento.
            </h6>
        </div>
    </div>
</body>
    