<body style="overflow: hidden;">
    <div class="row">
        <div class="col-md-4" style="margin-left:15px;">
            <h1>Seja nosso parceiro!</h1> <br><br>
            <h6>Se você já utiliza o partiu no seu estabelecimento, ainda pode nos apoiar!</h6>
            <h6>Venha ser um investidor! Entre em contato com a gente! Ou melhor, espalhe 
                para geral essa nova ferramenta de automatização de marcado!
            </h6>
            <h6>Se você ainda não conhece sobre, mas está interessado, ficaremos felizes em
                te visitar para que tenha a melhor experiência possivel!
            </h6>
            <h4>Conte conosco sempre!</h4>
        </div>
    </div>
</body>
    